################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Core.App/Example.Business/bin/Debug
/Core.App/Example.Business/obj
/Core.App/.vs
/Core.App/Example.Data/bin/Debug
/Core.App/Example.Data/obj
/Core.App/Example.Infraestructure/obj
/Core.App/Example.Infraestructure/bin/Debug/netstandard2.0
/Core.App/Example.Model/bin/Debug/netstandard2.0
/Core.App/Example.Model/obj
/Core.App/Example.Test/obj
/Core.App/Example.Test/bin/Debug/netcoreapp2.0
/Core.App/Example.Web/bin/Debug/netcoreapp2.0
/Core.App/Example.Web/obj
/Core.Library/obj
/Core.Mstest/obj
/Core.Mstest/bin/Debug/netcoreapp2.0
/Core.MVC/bin/Debug/netcoreapp2.0
/Core.MVC/obj
/Core.Razor/obj
/Core.WebApi/bin/Debug/netcoreapp2.0
/Core.WebApi/obj
/.vs/Code/v15
