WPFTest/WPFTest.Data/bin/
WPFTest/WPFTest.Data/obj/
WPFTest/WPFTest.Infraestructure/bin/
WPFTest/WPFTest.Infraestructure/obj/
WPFTest/WPFTest.Model/bin/
WPFTest/WPFTest.Model/obj/
WPFTest/WPFTest.Servicios/bin/
WPFTest/WPFTest.Servicios/obj/
WPFTest/WPFTest.TestUnit/bin/
WPFTest/WPFTest.TestUnit/obj/
WPFTest/WPFTest/bin/
WPFTest/WPFTest/obj/