<!--
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
-->

<nav-menu></nav-menu>
<div class="container body-content">
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <footer>
        <p style="float:left;">&copy; 2017 - SAAPU</p>
        <div style="float:right;">
            <img src="/assets/resources/images/logo_telecom.jpg" width="120" height="50" />
        </div>
    </footer>
</div>

